.border {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.chat {
  height: 70px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}
.left {
  display: flex;
  align-items: center;
}
.img {
  margin-right: 15px;
}
.textarea {
  margin-top: 15px;
  border: none;
  outline: none;
  color: #8d8d8d;
  font-size: 14px;
  resize: none;
  margin-left: 5px;
}
.VscSmiley {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 15px;
}
