.item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}
.item.active::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -14px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #70cc16;
  z-index: 1000;
}
.item::after {
  content: "";
  position: absolute;
  top: 13px;
  left: -14px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #666666;
}
.title {
  padding-left: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #b5b5b5;
}
.img {
  border-radius: 5px;
}
